.col-md-12
  %h3 Listing Users
  %table.table.table-bordered.table-condensed.table-striped
    %tr
      %th Name
      %th Articles


    - @users.each do |user|
      %tr
        %td= user.name
        %td= user.email


.pagination.pagination-centered
  %ul
    %li.active
      %span= will_paginate @users

= link_to 'Back', admin_days_path