// Place all the styles related to the days controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*index*/
    /*new*/
#h_first_courses {
  position:relative;
    right: 470px;
    top: 90px;
}
#h_second_courses {
  position:relative;
    right: 100px;
    top: 40px;
}
#h_drinks {
  position:relative;
    right: -220px;
    top: -10px;
}
#form_new_menu {
  position:relative;
    top: -100px;
    left: 100px;
}
#b_create_menu {
  margin-top: 30px;
  margin-bottom: -40px;
  padding: 4px 45px;
}
#new_day {
  position:relative;
    top: -50px;
    left: -30px;
}
#month_calendar_table {
  position:relative;
    right: -200px;
    top: -150px;
  margin-top: 0px;
}

/* show */
#square_a {
  position:relative;
    right: -370px;
    top: -50px;
  border: 2px solid gray;
  width: 190px;
  height: 130px;
}
#small_square_a {
  position:relative;
    right: -93px;
    top: -2px;
  border: 2px solid gray;
  width: 80px;
  height: 60px;
}
#today_number_a {
  position:relative;
    right: 5px;
    top: -55px;
  float: left;
  margin-right: 10px;
  font-size: 6.0em;
  color: #FF8000;
  padding-top: 9px;
  font-weight: bold;
}
#today_letter_a {
  position:relative;
    right: 6px;
    top: -3px;
  float: left;
  margin-right: 10px;
  font-size: 2.2em;
  color: #FF8000;
  padding-top: 9px;
  font-weight: bold;
}
#today_a {
  position:relative;
    right: 65px;
    top: 5px;
}
#orders_listing {
  position:relative;
    right: 20px;
    top: -80px;
}
#stats {
  position:relative;
    right: 50px;
    top: -60px;
}
#menu_panel {
  position:relative;
    right: 0px;
    top: -60px;
}
#h_menu {
  position:relative;
    right: 70px;
    top: 0px;
}