// Place all the styles related to the days controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*index*/

    /*new*/
#h_first_courses {
  position:relative;
    right: 470px;
    top: 90px;
}
#h_second_courses {
  position:relative;
    right: 100px;
    top: 40px;
}
#h_drinks {
  position:relative;
    right: -220px;
    top: -10px;
}
#form_new_menu {
  position:relative;
    top: -100px;
    left: 100px;
}
#b_create_menu {
  margin-top: 30px;
  margin-bottom: -40px;
  padding: 4px 45px;
}
#new_day {
  position:relative;
    top: -50px;
    left: -30px;
}