// Place all the styles related to the persons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#side {
  position:relative;
    top: -60px;
    left: -15px;
  float: left;
  padding: 1em 2em;
  width: 20em;
  background: #FFAD5C;
  form, div {
    display: inline;
  }
  input {
    font-size: small;
  }
  #cart {
    font-size: smaller;
    position:relative;
      left:7%;

    table {
      border-top:    1px dotted #595;
      border-bottom: 1px dotted #595;
      margin-bottom: 10px;
    }
  }
  b, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  }
}
.carts, #side #cart {
  .item_price, .total_line {
    text-align: right;
  }

  .total_line .total_cell {
    font-weight: bold;
    border-top: 2px solid #595;
  }
}
.calendar-header {
  background: #FFFFFF;
}
table-bordered {
  width: 100%;
  display: block;
  margin: 1rem auto;
  table {
      width: 120%;
  }
  td, th {
      padding: 2rem 2%;
      border: 1px solid #E9E9E9;
      text-align: center;
  }
}
.menu {
display: none
}
#calendar_table {
  position:relative;
    right: 0px;
    top: -90px;
  margin-top: 0px;
}
#today_menu {
  position:relative;
    right: -20px;
    top: -50px;
}
.showMore {
  position:relative;
    right: 0px;
    top: 205px;
}
.showLess {
  display: none;
  position:relative;
    right: 0px;
    top: 165px;
}
td.day.today.current-month{
    background: #FFFF66;
}
#b_add_to_cart {
  position:relative;
    top: -5px;
}
#square {
  position:relative;
    right: -220px;
    top: -35px;
  border: 2px solid gray;
  width: 190px;
  height: 130px;
}
#small_square {
  position:relative;
    right: -93px;
    top: -2px;
  border: 2px solid gray;
  width: 80px;
  height: 60px;
}
#today_number {
  position:relative;
    right: 5px;
    top: -55px;
  float: left;
  margin-right: 10px;
  font-size: 6.0em;
  color: #FF8000;
  padding-top: 9px;
  font-weight: bold;
}
#today_letter {
  position:relative;
    right: 6px;
    top: -3px;
  float: left;
  margin-right: 10px;
  font-size: 2.2em;
  color: #FF8000;
  padding-top: 9px;
  font-weight: bold;
}
#today {
  position:relative;
    right: 65px;
    top: 5px;
}
#profile {
  position:relative;
    right: -90px;
    top: -55px;
}