.button {
  margin: 10px;
  font-family: Arial;
  font-weight: bold;
  font-size: 26px;
  font-color: Black;
/* border-style:solid;*/
  background: #FF8000;
  border: White;
  height: 60px;
  width: 180px;
  }

#log_in {
  position:relative;
    left:26%;
    top:50px;
  width: 230px;
}

#sign_up {
  position:relative;
    left:49%;
    top:-20px;
  margin-bottom: 420px;
  width: 235px;
}

.welcome {
  position:relative;
    top:100px;
  color: #0071B5;
}