%body
  %header.navbar.navbar.navbar-custom
    .navbar-inner
      = link_to "LunchOrdering", root_path, id: "logo"
      - if user_signed_in?
        %ul.nav.pull-right
          %li= link_to t('.l_sign_out'), destroy_user_session_path, method: :delete
      - else
        %ul.nav.pull-right
          %li= link_to t('.l_log_in'), new_user_session_path
